:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(245, 245, 245, 0.87);
  background-color: #a7a0a0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  margin: 0;
  display:flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 1000px;
  border: 10px rgb(10, 10, 10);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #c51616;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #19d832;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
